
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

:root {
    --richgold: #efba1a;
    --richgrey: #303030;
    --richanthracite: #232323;
    --richpurple: #7001ba;
  }

.navbar-laravel {
  background-color: var(--richanthracite);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  font-family: 'Oswald', sans-serif;
}
/*######### Styles for all Sites start########*/

html, main {
    background-color: var(--richgrey);
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.btn {
    font-size: 14px;
}

.card {
    border: 0;
    border-radius: 8px;
}

.card-body {
    border-radius: 0 0 6px 6px;
    font-size: 16px;
}

.card-header {
    font-size: 20px;
}

.card-header, .card-header:first-child {
    border-radius: 6px 6px 0 0;
}

.card-header, .card-body {
    background-color: var(--richanthracite);
}

.card-coins {
    padding: 0px;
}

/*######### Styles for all Sites end########*/



/*######### /games overview start########*/
#game_card{
	padding: 20px;
	margin-right: 20px;
    cursor: pointer;
    width: 30%;
}
// #game_card:hover{
// 	background-color: lightgrey;
// }
#game_list{
	list-style: none;
	text-align: center;
	padding-inline-start: 0px;
}

/*######### /games overview end########*/


/*########## Game details start#########*/




/*########## Game details end#########*/
.counter
{
    background-color: #eaecf0;
    text-align: center;
}
.employees,.customer,.design,.order
{
    margin-top: 70px;
    margin-bottom: 70px;
}
.counter-count
{
    font-size: 18px;
    background-color: var(--richpurple);
    border-radius: 50%;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 92px;
    width: 92px;
    height: 92px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
}

.counter-count1
{
    font-size: 18px;
    background-color: var(--richpurple);
    border-radius: 50%;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 92px;
    width: 92px;
    height: 92px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
}

.employee-p,.customer-p,.order-p,.design-p
{
    font-size: 24px;
    color: #ffffff;
    line-height: 34px;
}

.container-userStat, .row-userStat {
    background-color: var(--richanthracite);
    border-radius: 6px;
}

.counter {
    background-color: var(--richgrey);
}

/*########## Coins Style start########*/

.coin-icon {
    width: 100px;
    height: 100%;
}

.coin-icon-buy {
    width: 100%;
    height: 150px;
}

.button-purple {
    background-color: var(--richpurple);
    border-color: var(--richpurple);
}

.button-gold {
    background-color: var(--richgold);
    border-color: var(--richgold);
}


.button-welcome {
    background-color: var(--richpurple);
    padding: 10px 40px;
    margin: 30px;
    color: #fff;
}

.button-welcome:hover {
    background-color: darken(#7001ba,12%);
    color: #fff;
}

.password-link {
    color: white;
    border-color: white;
    margin-left: 15px;
}

.password-link:hover {
    color: white;
    text-transform: none;
}

/*########## Coins Style end########*/

/*########## Navbar Styles start########*/

.btn-secondary {
    background-color: var(--richgold);
    border-color: var(--richgold);
}

.nav-link a, .nav-link, #navbarDropdown {
   color: #fff;
    padding: 10px;
}

.nav-link a:hover, .nav-link:hover, #navbarDropdown:hover {
    color: #577590;
    text-decoration: none;
 }

#navbarBalanceA {
    margin-top: 3%;
}

/*########## Navbar Styles end########*/

/*########## Button Styles start########*/

.btn-primary:hover {
    background-color: var(--richgrey);
}

/*########## Button Styles end########*/
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
  }
  .btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
  }
  .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
  }

  @-webkit-keyframes backgroundScroll {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -99999999px 0;
    }
  }

  @keyframes backgroundScroll {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -99999999px 0;
    }
  }

.img-rounded {
    width: 100px;
    margin: 10px 10px 10px 10px;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    }

.img-rounded:hover {
	cursor: pointer;
	-webkit-transform: scale(1.8, 1.8);
    -ms-transform: scale(1.8, 1.8);
    transform: scale(1.8, 1.8);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */

    }

.full-height {
    height: 100vh;
    }

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
    }

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.m-b-md {
    margin-bottom: 30px;
}
