
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


/*######### /games overview start########*/
#game_card{
	padding: 20px;
	margin-right: 20px;
	cursor: pointer;
}
#game_card:hover{
	background-color: lightgrey;
}
#game_list{
	list-style: none;
	text-align: center;
	padding-inline-start: 0px;
}

/*######### /games overview end########*/


/*########## Game details start#########*/




/*########## Game details end#########*/